@font-face {
    font-family: 'BBTreeGR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.content_box {
    height: 80px;
    width: 100%;
    font-size: 2rem;
    padding: 15px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: 'BBTreeGR';
    min-width: 680px;
}

#message_write_container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    width: 100%;
    height: 100%;
    min-width: 680px;
}

#message_write_container .message_write_insert_info table {
    width: 100%;
    margin-top: 15px;
    border: 1px solid gray;
}

#message_write_container .message_write_insert_info table tr {
    border: 1px solid gray;
}

.message_write_insert_info .message_td1 {
    background-color: RGB(13, 110, 253);
    color: white;
    width: 17%;
    padding: 0 10px 0 10px;
    min-width: 120px;
}

.message_write_insert_info .message_td1 span {
    float: right;
}

.message_write_insert_info .message_td2 {
    width: 70%;
    padding: 0 0 0 5px;
}

.message_write_insert_info .message_td3 {
    width: 13%;
    padding: 0 0 0 5px;
}

.message_write_insert_info input[type=text],
.message_write_insert_info input[type=file] {
    width: 100%;
    margin: 5px 0;
}

.message_write_insert_info #important {
    accent-color: red;
}

#message_write_container .top_btn {
	display:flex;
}
#message_write_container .write_div_btn {
    background-color: rgb(13, 110, 253);
    color: white;
    padding: 3px 7px;
    border-radius: 3px;
    margin-right:3px;
    border: 0;
    cursor: pointer;
}

#message_write_container .message_write_textarea {
    margin-top: 15px;
    height: 50%;
    min-height: 400px;
    display: flex;
}

/* 텍스트 에어리어 영역 설정 */
#message_write_container>.message_write_textarea>#contentsBox{
    border:0;
}

#message_write_container .bottom_btn {
    margin-top: 15px;
}

/* 22/08/22 김정치 모달 시작 */
.message_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10000;
}

.modal_close{
    position: absolute;
    background-color: white;
    top: 15px;
    right: 15px;
    border: 0;
    z-index: 100000;
}

.message_modal.show {
    display: block;
}

.message_modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 470px;
    height: 400px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
    font-family: 'BBTreeGR';
}


.message_modal_body .modal_container{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.message_modal_body .dept{
    width: 26%;
    margin: 0;
    padding: 0;
}

/* 220922 검색창 디자인 */

#searchBox{
	
}
	/* <form name="form1" method="POST" action="/list">
		<select name="search_option">
			<option value="all" <c:out value="${map.search_option == 'all' ? 'selected' : ''}"/>>전체</option>
						<option value="empName" <c:out value="${map.search_option == 'empName' ? 'selected' : ''}"/>>사원명</option>
						<option value="empNum" <c:out value="${map.search_option == 'empNum' ? 'selected' : ''}"/>>사원번호</option>
					</select> 
					<input type="text" placeholder="검색하세욧" name="keyword" id="messageAddressSearch" value=""> 
					<input type="submit" value="검색" id="searchBtn">
				</form>
				</div>	*/ 




/* 220826 좌측 부서명 */
.message_modal_body .dept ul{
    padding: 5px 0 5px 5px;
    border-right: 1px solid rgb(172, 172, 172);
}
.message_modal_body .dept li{
    margin: 7px 0;
    list-style: none;
}
.message_modal_body .dept button{
    color: rgba(0, 0, 0, 0.897);
    border: 0;
    text-align: left;
    background-color: white;

}

/* 220826 우측 사원 정보 */
.message_modal_body #modal_personal_info{
    width: 74%;
    height: auto;
    margin: 10px 10px 5px 5px;
    text-align: center;
}

.message_modal_body .dept_right{
    width: 100%;
    text-align: center;
}

.message_modal_body .dept_right thead{
    height: 25px;
}

.message_modal_body .dept_right tbody td{
    height: 25px;
    text-align: center;
    padding: 0;
}

.message_modal_body .dept_right tbody tr{
    cursor: pointer;
}

/* 22/08/22 모달 텍스트 조정 */
.message_modal h1{
    font-size: 20px;
    border-bottom: 1px solid rgb(172, 172, 172);
    padding-bottom: 7px;
    color: rgba(0, 0, 0, 0.897);
    margin: 0;
}